
<ion-header>



</ion-header>


<ion-content >


    <div class="wrap-page padding-bottom-none">
        <div class="top-window">
            <a class="prev" (click)="goBack()">
                <img src="assets/images/back_arrow.png" alt="">
            </a>
            <div class="h4">New Tab</div>
        </div>
        <div class="search-page">
            <form>
                <div class="name-exercise">
                    <div class="h4">Name your Exercise</div>
                    <input type="text" placeholder="Name your Exercise" [(ngModel)]="Exercise.Name" name="name">
                </div>
                <div class="worked">
                    <div class="h4">Muscles Worked</div>
                    <div class="list-worked">
                        <label class="checkbox" *ngFor="let item of FilterValues.Muscles" (click)="SelectMuscles(item)">
                            <input type="checkbox">
                            <span class="text">{{item.name}}</span>
                        </label>

                    </div>
            <!--        <div class="wr-checkbox-item">
                        <label class="checkbox-item">
                            <input type="checkbox">
                            <span class="text">Cardio</span>
                        </label>
                    </div> -->

                    <label class="checkbox-item">

                        <ion-item>
                            <ion-label>Cardio</ion-label>
                            <ion-toggle [(ngModel)]="Exercise.Filters.Cardio" name="cardio"></ion-toggle>
                        </ion-item>

                    </label>




                </div>
                <div class="diff">
                    <div class="h4">Difficulty</div>
                    <div class="radio-items">
                        <label class="radio" *ngFor="let item of FilterValues.Difficulty">
                            <input type="radio" name="Difficulty"  value="{{item.name}}" [(ngModel)]="Exercise.Filters.Difficulty" name="diff">
                            <span class="text">{{item.name}}</span>
                        </label>
                    </div>
                </div>
                <div class="buttonTABS">
                    <button class="next" (click)="goToStep2()">Next</button>
                </div>
            </form>
        </div>

    </div>


</ion-content>
