<!--
  Generated template for the Savedlist page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>createdexercises</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-input type="text" placeholder="Please name your exercise here" [(ngModel)]="Exercise.Name"></ion-input>
    </ion-item>


    <h2>Muscles worked </h2>

    <button ion-button *ngFor="let item of FilterValues.Muscles" (click)="SelectMuscles(item)"
            [color]="checkMuscles(item) ? '' : 'light'"> {{item.name}}
    </button>

    <ion-item>
        <ion-label>Cardio</ion-label>
        <ion-toggle [(ngModel)]="Exercise.Filters.Cardio"></ion-toggle>
    </ion-item>

    <h2>Difficulty </h2>


    <div padding>
        <ion-segment *ngIf="FilterValues.Difficulty.length>0"  [(ngModel)]="Exercise.Filters.Difficulty">
            <ion-segment-button *ngFor="let item of FilterValues.Difficulty" value="{{item.name}}">
                {{item.name}}
            </ion-segment-button>
        </ion-segment>
    </div>


    <br>
    <button ion-button round class="fullWidth" (click)="goToStep2()" [disabled]="isformCorrect()==false">Next</button>


</ion-content>
