<ion-content>


    <div class="notification feed-page">
        <div class="top-window">
            <a class="prev" (click)="goBack()">
                <img src="assets/images/back_arrow.png" alt="">
            </a>

            <div class="h4">List of Exercises</div>
        </div>


        <div class="tab-content">
            <div class="tab-item active" id="My-Favorite">
                <div class="items-search">
                    <div class="item" *ngFor="let item of Exercises">
                        <div class="left">
                            <div class="image" [ngStyle]="{'background-image' : 'url(assets/images/fitnes_blank.png)'}"
                                 *ngIf="item.stage1_img =='' " (tap)="runExercise(item)"></div>
                            <div class="image"
                                 [ngStyle]="{'background-image': 'url(' + config.baseUrl + item.stage1_img + '_s.jpg)'}"
                                 *ngIf="item.stage1_img.length > 10 " (tap)="runExercise(item)">
                                <div class="icon"><img src="assets/images/clocks.png" alt=""></div>

                                <div class="avatar"
                                     [ngStyle]="{'background-image' : 'url(' +config.baseUrl + item.avatar + '_s.jpg)'}"
                                     *ngIf="item.avatar!=''"></div>
                                <div class="avatar" style="background-image:url('assets/images/avatar.jpg')"
                                     *ngIf="item.avatar==''"></div>
                            </div>
                        </div>
                        <div class="right" (tap)="showDetails(item)">
                            <a class="h4">{{item.name}}</a>
                            <ul>
                                <li>By: <span>{{item.author}}</span></li>
                                <li>Skill: <span>{{item.skill}}</span></li>
                                <li>Workout Card: <span> <span
                                        *ngFor="let muscle  of item.muscles"> {{muscle.name}}  </span></span></li>
                                <li>Cardio: <span>{{item.cardio  ==1 ? 'yes' : 'no'  }}</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>
</ion-content>


<!--
<div class="wrap-page ">
  <div class="top-window">
    <a class="prev" (click)="goBack()">
      <img src="assets/images/back_arrow.png" alt="">
    </a>

    <div class="h4">WorkoutDetailsExercises</div>
  </div>

  <div class="exercise-History">
    <div class="item" *ngFor="let exercise of Exercises">
      <div class="image"                [ngStyle]="{'background-image': 'url('  + config.baseUrl + exercise.stage1_img + ')'}"      (tap)="runExercise(exercise)"      ></div>
      <div class="info" (tap)="runExercise(exercise)">
        <div class="left">
          <div class="h5">{{exercise.name}}</div>
          <ul class="list">

            <li>
              Skill: <span>{{exercise.skill}}</span>
            </li>
            <li>
              Muscules Worked: <span><span *ngFor="let muscle  of exercise.muscles"> {{muscle.name}}  </span></span>
            </li>
            <li>
              Cardio: <span> {{exercise.cardio}}</span>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

</div>

<ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

||||||||||
-->


<!--

<ion-header>

  <ion-navbar>
    <ion-title>WorkoutDetailsExercises</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>


      <ion-item (click)="runExercise(exercise)" *ngFor="let exercise of Exercises">
        <div class="description">
          <p>{{exercise.name}}</p>
          <p>{{exercise.repeat_count}} {{exercise.repeat_type}} of {{exercise.length_count}}
            {{exercise.length_type}} </p>
          <p>Cardio: {{exercise.cardio}}</p>
          <p>Equipment: <span *ngFor="let eq of exercise.equipment"> {{eq.name}} ,  </span></p>
        </div>
        <div class="image">
          <img src="{{exercise.stage1_img}}">
        </div>
      </ion-item>


  </ion-list>


  <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

  <button ion-button round class="fullWidth" (click)="finish()" >Completed</button>


</ion-content>
-->