<!--
  Generated template for the Savedlist page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>createdexercises stage</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-grid>
        <ion-row>
            <ion-col col-4>
                <img src="assets/images/blank.jpg" (click)="showRadio(0)" *ngIf="!ExcerciseImage[0]">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ExcerciseImage[0])" *ngIf="ExcerciseImage[0]"/>
            </ion-col>
            <ion-col col-4>
                <img src="assets/images/blank.jpg" (click)="showRadio(1)" *ngIf="!ExcerciseImage[1]">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ExcerciseImage[1])" *ngIf="ExcerciseImage[1]"/>
            </ion-col>
            <ion-col col-4>
                <img src="assets/images/blank.jpg" (click)="showRadio(2)"  *ngIf="!ExcerciseImage[2]">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ExcerciseImage[2])" *ngIf="ExcerciseImage[2]"/>
            </ion-col>


        </ion-row>
        <ion-row>
            <ion-col col-4>
                <img src="assets/images/blank.jpg" (click)="showRadio(3)"  *ngIf="!ExcerciseImage[3]">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ExcerciseImage[3])" *ngIf="ExcerciseImage[3]"/>
            </ion-col>
            <ion-col col-4>
                <img src="assets/images/blank.jpg" (click)="showRadio(4)"  *ngIf="!ExcerciseImage[4]">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ExcerciseImage[4])" *ngIf="ExcerciseImage[4]"/>
            </ion-col>
            <ion-col col-4>
                <img src="assets/images/blank.jpg" (click)="showRadio(5)"  *ngIf="!ExcerciseImage[5]">
                <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(ExcerciseImage[5])" *ngIf="ExcerciseImage[5]"/>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-input type="text"  placeholder=" enter repeat count"  [(ngModel)]="this.Exercise.repeat_count" ></ion-input>

    <ion-segment [(ngModel)]="this.Exercise.repeat_type">
        <ion-segment-button  value="movements">
            Compound movements
        </ion-segment-button>
        <ion-segment-button  value="steps">
            Sets
        </ion-segment-button>
    </ion-segment>

    <ion-input type="text"  placeholder="enter length count" [(ngModel)]="this.Exercise.length_count" ></ion-input>

    <ion-segment [(ngModel)]="this.Exercise.length_type">
        <ion-segment-button  value="Seconds">
            Seconds
        </ion-segment-button>
        <ion-segment-button  value="Minutes">
            Minutes
        </ion-segment-button>
        <ion-segment-button  value="Reps">
            Reps
        </ion-segment-button>


    </ion-segment>

    <button ion-button round class="fullWidth" (click)="showPrompt()">Publish</button>
    <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>
<!--

   <a (click)="showRadio()"> Hello World, this is my camera app </a>

    <button (click)="takePicture()">Take a Picture</button>

    Latest Picture:
    <img [src]="base64Image" *ngIf="base64Image" />


    <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(base64Image)" *ngIf="base64Image"/>


-->

</ion-content>
