<ion-content>
    <div class="wrap-page ">
        <div class="top-window">
            <a class="prev" (click)="goBack()">
                <img src="assets/images/back_arrow.png" alt="">
            </a>
            <div class="h4">Share Workout</div>
        </div>
        <div class="share-p search-page">
            <div class="workout--share">

                <form>
                    <div class="image" (click)="showRadio()"
                         [ngStyle]="{'background-image' : 'url(' + Workout.Image + ')'}">
                        <label [ngStyle]="{ 'background-color': showBackground()}">

                     <span class="wr">
                    <img src="assets/images/image.png"
                         *ngIf="Workout.Image=='' && Workout.ImageData==''">

              		<span class="text" *ngIf="Workout.Image=='' && Workout.ImageData==''">Upload Image </span>
						</span>
                        </label>

                        <!--      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(Workout.Image)" *ngIf="Workout.Image" (click)="showRadio()"/>

                              <img src="assets/images/image.png" (click)="showRadio()"
                                   *ngIf="Workout.Image=='' && Workout.ImageData==''">


                              <label [ngStyle]="{ 'background-color': showBackground()}" >

                                  <span class="wr">
          <!--<img [src]="_DomSanitizationService.bypassSecurityTrustUrl(Workout.Image)" *ngIf="Workout.Image"/>

                              <img src="assets/images/image.png"
                                   *ngIf="Workout.Image=='' && Workout.ImageData==''">



                                <span class="text" *ngIf="Workout.Image=='' && Workout.ImageData==''">Upload Image </span>
                                  </span>
                              </label>-->
                    </div>


                    <input type="text" class="share-input name-workout" placeholder="Please name your workout here "
                           [(ngModel)]="Workout.Name" name="name">
                    <div class="time--length">
                        <div class="h4">Time Length</div>
                        <p>Please enter your workout length</p>
                        <div class="list--time">
                            <label class="checkbox">
                                <span class="text">0-15 minutes</span>
                                <input type="radio" name="radio-time" value="15" [(ngModel)]="Workout.Length" [checked]>
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">15-30 minutes</span>
                                <input type="radio" name="radio-time" value="30" [(ngModel)]="Workout.Length" checked>
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">30-45 minutes</span>
                                <input type="radio" name="radio-time" value="45" [(ngModel)]="Workout.Length">
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">45-60 minutes</span>
                                <input type="radio" name="radio-time" value="60" [(ngModel)]="Workout.Length">
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">60-75 minutes</span>
                                <input type="radio" name="radio-time" value="75" [(ngModel)]="Workout.Length">
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">75-90 minutes</span>
                                <input type="radio" name="radio-time" value="90" [(ngModel)]="Workout.Length">
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">90-120 minutes</span>
                                <input type="radio" name="radio-time" value="120" [(ngModel)]="Workout.Length">
                                <span class="check"></span>
                            </label>
                            <label class="checkbox">
                                <span class="text">120+ minutes</span>
                                <input type="radio" name="radio-time" value="121" [(ngModel)]="Workout.Length">
                                <span class="check"></span>
                            </label>
                        </div>
                    </div>

                    <input type="text" class="share-input hasttags" placeholder="Hashtags " [(ngModel)]="hashtag"
                           name="tag">
                    <a class="add-tags" (click)="addTag()">Add tag</a>
                    <div class="share--tags">
                        <span *ngFor="let tag of Workout.Tags"> #{{tag}} ,</span>
                    </div>
                    <button class="share-btn" (click)="SaveWorkout()" [disabled]="Workout.Name=='' || IsAjaxLoaded ">
                        Share
                    </button>
                </form>
            </div>
        </div>
        <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>
    </div>
</ion-content>


<!--
  Generated template for the ShareWorkoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>ShareWorkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-row>
    <ion-col col-12>
      <img src="assets/images/blank.jpg" (click)="showRadio()"  *ngIf="Workout.Image=='' && Workout.ImageData==''">
      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(Workout.Image)" *ngIf="Workout.Image"/>





    </ion-col>

  </ion-row>


  <ion-item>
    <ion-input type="text" placeholder="Please name your workout here" [(ngModel)]="Workout.Name"></ion-input>
  </ion-item>




 <p> Please enter your workout length </p>

  <ion-list radio-group [(ngModel)]="Workout.Length">
    <ion-item>
      <ion-label>0-15 minutes</ion-label>
      <ion-radio value="15" [checked]></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>15-30 minutes</ion-label>
      <ion-radio value="30"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>30-45 minutes</ion-label>
      <ion-radio value="45" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>45-60 minutes</ion-label>
      <ion-radio value="60" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>60-75 minutes</ion-label>
      <ion-radio value="75" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>75-90 minutes</ion-label>
      <ion-radio value="90" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>90-120 minutes</ion-label>
      <ion-radio value="120" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>120+ minutes</ion-label>
      <ion-radio value="121" ></ion-radio>
    </ion-item>


  </ion-list>


  <ion-item>
    <ion-input type="text" placeholder="hashtags" [(ngModel)]="hashtag"></ion-input>
  </ion-item>
    <button ion-button round  (click)="addTag()" >add tag</button>

  <p>
  <span      *ngFor="let tag of Workout.Tags"     > #{{tag}} ,</span>


  </p>



  <button ion-button round class="fullWidth" (click)="SaveWorkout()" [disabled]="Workout.Name=='' || IsAjaxLoaded ">Share</button>

  <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

</ion-content>
-->