<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p><a (click)="goSaved()"> Saved lists</a></p>
    <hr>
    <hr>

    <div ion-item *ngFor="let item of Followers" (click)="itemSelected(item)">
    <div class="workout">
        <div class="description">
            <p>Created By: <b>{{item.user}}</b></p>
            <p>{{item.name}}</p>
            <p>Skill: {{item.skill}}</p>
            <p>Muscles worked: <span *ngFor="let muscle  of item.muscles"> {{muscle.name}}  </span>  </p>
            <p>Cardio: {{item.cardio}}</p>
        </div>
        <div class="image">
            <img src="{{item.image}}">
        </div>
    </div>
    <div class="clear"></div>
</div>

</ion-content>
