<!--
  Generated template for the Notifications page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content>
    <!-- <button ion-button (click)="ShowNotify('Following')" [color]="isMySaved ? 'light' : ''">Following</button>
     <button ion-button (click)="ShowNotify('My')" [color]="isMySaved ? '' : 'light'">You</button> -->

    <div class="notification">
        <ul class="tab">
            <li>
                <a (tap)="ShowNotify('Following')"    [ngClass]="{'active': isMySaved }" >Following</a>
            </li>
            <li>
                <a (tap)="ShowNotify('My')"  [ngClass]="{'active': !isMySaved }" >You</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-item" id="Following">
                <ul class="tab-list">
                    <li *ngFor="let item of Notifications" (tap)="showDetails(item)">


                         <div *ngIf="item.actionType=='liked'">
                            <div class="avatar">

                                <div class="photo" [ngStyle]="{'background-image' : 'url(' +config.baseUrl + item.User.avatar + ')'}"  *ngIf="item.User.avatar!=''" ></div>
                                <div class="photo" style="background-image:url('assets/images/avatar.jpg')" *ngIf="item.User.avatar==''" ></div>



                              <!--  <div class="photo" style="background-image:url({{item.User.avatar}})"></div> -->
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="name"><span>{{item.User.name}}</span></div>
                                    <div class="commetn">
                                        <img src="assets/images/bar/like-red.svg" alt="">
                                        <span>liked a workout</span>
                                    </div>
                                    <div class="date">{{item.date}}</div>
                                </div>
                                <div class="comment-to">
                                    <div class="ava">
                                        <div class="photo"
                                             style="background-image:url(assets/images/home/home.jpg)"></div>
                                    </div>
                                    <div class="text">{{item.WorkoutName}}</div>
                                    <a class="more">
                                        <img src="assets/images/notification/arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div  *ngIf="item.actionType=='followed'">
                            <div class="avatar">
                                <div class="photo" [ngStyle]="{'background-image' : 'url(' +config.baseUrl + item.User.avatar + ')'}"  *ngIf="item.User.avatar!=''" ></div>
                                <div class="photo" style="background-image:url('assets/images/avatar.jpg')" *ngIf="item.User.avatar==''" ></div>
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="name"><span>{{item.User.name}}</span></div>
                                    <div class="commetn">
                                        <span>started following   {{item.UserName}} </span>
                                    </div>
                                    <div class="date">{{item.date}}</div>
                                </div>

                            </div>

                        </div>


                        <div *ngIf="item.actionType =='newworkout' ">
                            <div class="avatar">
                                <div class="photo" [ngStyle]="{'background-image' : 'url(' +config.baseUrl + item.User.avatar + ')'}"  *ngIf="item.User.avatar!=''" ></div>
                                <div class="photo" style="background-image:url('assets/images/avatar.jpg')" *ngIf="item.User.avatar==''" ></div>
                            </div>
                            <div class="info">
                                <div class="top-info">
                                    <div class="name"><span>{{item.User.name}}</span></div>
                                    <div class="commetn">
                                        <img src="assets/images/bar/like-red.svg" alt="">
                                        <span>Create workout</span>
                                    </div>
                                    <div class="date">{{item.DATE}}</div>
                                </div>
                                <div class="comment-to">
                                    <div class="ava">
                                        <div class="photo"
                                             style="background-image:url(assets/images/home/home.jpg)"></div>
                                    </div>
                                    <div class="text">{{item.WorkoutName}}</div>
                                    <a class="more">
                                        <img src="assets/images/notification/arrow.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </li>





                </ul>
            </div>


        </div>
    </div>


    <!--
 <ion-list>

        <div ion-item *ngFor="let item of Notifications" (click)="showDetails(item)">

            <div *ngIf="item.actionType=='liked'">


                Liked block
<br>


                {{item.User.name}}

                {{item.User.avatar}}

              like workout

                {{item.WorkoutName}}

                {{item.date}}

            </div>

            <div *ngIf="item.actionType=='followed'">


                followed block
                <br>


                {{item.User.name}}

                {{item.User.avatar}}

                follow

                {{item.UserName}}

                {{item.UserAvatar}}



                {{item.date}}

            </div>


            <div *ngIf="item.actionType=='newworkout'">

                new workout block
                <br>
                {{item.User.name}}

                {{item.User.avatar}}

                add new workout

                {{item.date}}

            </div>


         </div>


    </ion-list>
-->


    <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>
</ion-content>
