<ion-header>
</ion-header>


<ion-content >


    <div class="wrap-page padding-bottom-none">
        <div class="top-window card-top-w">
            <a class="prev" (click)="goBack()">
                <img src="assets/images/home/arrow.svg" alt="">
            </a>
            <div class="h4">Muscules Worked</div>
        </div>
        <div class="card-wrap" (click)="runWorkout()">
            <div class="card-slider">
                <div class="slide"     [ngStyle]="{'background-image' : 'url('  + config.baseUrl + Workout.image + ')'}"     *ngIf="Workout.image.length > 10 "       >
                    <div class="icon"><img src="assets/images/clocks.png" alt=""></div>
                </div>

                <div class="slide"     [ngStyle]="{'background-image' : 'url(assets/images/fitnes_blank.jpg)'}" *ngIf="Workout.image =='' "       >
                    <div class="icon"><img src="assets/images/clocks.png" alt=""></div>
                </div>

            </div>
            <div class="card-info">
                <div class="top">
                    <div class="title">{{Workout.name}}</div>
                    <div class="prof">
                        <div class="image"    [ngStyle]="{'background-image' : 'url('  +config.baseUrl + Workout.authorAvatar + ')'}"  ></div>
                        <p>By: <span>{{Workout.author}}</span>  </p>
                    </div>
                </div>
                <ul class="bottom">
                    <li >
                        <img src="assets/images/bar/like-red.svg" alt="" *ngIf="Workout.InLiked >0 " (click)="toggleLike(item)">
                        <img src="assets/images/bar/like.svg" alt="" *ngIf="Workout.InLiked ==null " (click)="toggleLike(item)">
                        <div class="number">{{Workout.countLikes}}</div>
                        <span>recomended</span>
                    </li>

                </ul>
            </div>
            <ul class="card-worked-list">
                <li>
                    <div class="left">Muscules Worked:</div>
                    <div class="right"><span *ngFor="let muscle  of Workout.muscles"> {{muscle.name}}  </span> </div>
                </li>
                <li>
                    <div class="left">Workout Duration</div>
                    <div class="right">{{Workout.Time}} min</div>
                </li>
                <li>
                    <div class="left">Cardio</div>
                    <div class="right">{{Workout.cardio}}</div>
                </li>
            </ul>



       </div>
    </div>




<!--
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                Created by: {{Workout.author}}
            </ion-col>
            <ion-col col-6>
                <ion-icon name="heart-outline"></ion-icon>
                {{Workout.countLikes}}

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12 (click)="runWorkout()">


                <img src="http://via.placeholder.com/350x150" *ngIf="Workout.image==''" >
                <img src="{{Workout.image}}" *ngIf="Workout.image!=''">


            </ion-col>

        </ion-row>

    </ion-grid>

    <p>{{Workout.name}} </p>
    <p>Difficulty: {{Workout.skill}} </p>
    <p>Muscles worked:     <span *ngFor="let muscle  of Workout.muscles"> {{muscle.name}}  </span>      </p>
    <p>Cardio: {{Workout.cardio}} </p>
    <p>Time length: {{Workout.Time}} </p>
    <p>Equipment neded:    <span *ngFor="let eq  of Workout.equipment"> {{eq.name}}  </span>        </p>

    <p>  <span *ngFor="let tag  of Workout.Tags"> {{tag.name}}  </span>    </p>

-->
    <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

</ion-content>
