<!--
  Generated template for the Savedlist page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content >


    <div class="wrap-page padding-bottom-none">
        <div class="top-window">
            <a class="prev" (click)="goBack()">
                <img src="assets/images/home/arrow.svg" alt="">
            </a>
            <div class="h4">New Tab</div>
        </div>
        <div class="search-page">
            <form>
                <div class="worked">
                    <div class="h4">Equipment Needed</div>
                    <div class="list-worked">
                        <label class="checkbox" *ngFor="let item of FilterValues.Equipment" (click)="SelectEquipment(item)"  >
                            <input type="checkbox">
                            <span class="text">{{item.name}} </span>
                        </label>

                    </div>

                </div>



                <div class="buttonTABS ">
                    <button class="next" (click)="goToStages()">Next</button>
                </div>
            </form>
        </div>

    </div>

    <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

    <!--
    <h2>Equipment needed </h2>

    <button ion-button  *ngFor="let item of FilterValues.Equipment" (click)="SelectEquipment(item)"   [color]="checkEquipment(item)  ? '' : 'light'"> {{item.name}} </button>


    <br>



    <button ion-button round class="fullWidth" (click)="goToStages()">Next</button>

-->

</ion-content>
