<!--
  Generated template for the ProfileSettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ProfileSettings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-avatar item-start (click)="showRadio()">

    <img src="{{user.avatar}}" *ngIf="user.avatar!='' && AvatarImage=='' ">
    <img src="assets/images/avatar.jpg" *ngIf="user.avatar==''  && AvatarImage=='' ">
    <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(AvatarImage)" *ngIf="AvatarImage"/>

  </ion-avatar>

  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)]="user.name"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label floating>email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

<p>Changing password</p>
  <ion-item>
    <ion-label floating>Old password</ion-label>
    <ion-input type="password" [(ngModel)]="user.old_password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>New password</ion-label>
    <ion-input type="password" [(ngModel)]="user.new_password"></ion-input>
  </ion-item>

  <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

  <button ion-button round class="fullWidth" (click)="save()">Save</button>

  <br>

  <p (click)="openPage('privacy')"> privacy policy</p>
  <p (click)="openPage('terms')"> /terms and conditions</p>




</ion-content>
