<ion-header>
</ion-header>

<ion-content>
    <div class="wrap-page ">
        <div class="top-window">
            <a class="prev"   (click)="goBack()" >
                <img src="assets/images/back_arrow.png" alt="">
            </a>
            <div class="right-icon"><a (click)="save()" class="done">Done</a></div>
            <div class="h4">Profile Settings</div>
        </div>
        <div class="profile-page">
            <div class="profile-info">
                <div class="profile-top">

                    <div class="image" [ngStyle]="{'background-image' : 'url(' +config.baseUrl + user.avatar + ')'}"   *ngIf="user.avatar!=''" ></div>
                    <div class="image" style="background-image:url('assets/images/img-1.png')" *ngIf="user.avatar==''" ></div>
                    <label class="edit_photo"  (click)="showRadio()">
                        <input type="file">
                        Edit Photo
                    </label>
                </div>
                <div class="prof_set">
                    <div class="item">
                        <div class="title">E-mail</div>
                        <div class="ps_info">
                            <input  type="text" [(ngModel)]="user.email">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">UserName</div>
                        <div class="ps_info">
                            <input  type="text" [(ngModel)]="user.name">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">First Name</div>
                        <div class="ps_info">
                            <input  type="text" [(ngModel)]="user.firstname">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">Last Name</div>
                        <div class="ps_info">
                            <input  type="text" [(ngModel)]="user.lastname">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">Age</div>
                        <div class="ps_info">
                            <input  type="text" [(ngModel)]="user.age">
                        </div>
                    </div>


                    <div class="item"  (click)="openPage('changePassword')" >
                        <div class="title">Password</div>
                        <div class="ps_info">
                            <a  >
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item"  (click)="openPage('privacy')"  >
                        <div class="title">Privacy&Policy</div>
                        <div class="ps_info">
                            <a >
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item"  (click)="openPage('terms')"  >
                        <div class="title">Terms and conditions</div>
                        <div class="ps_info">
                            <a >
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="item" (tap)="Logout()">
                        <div class="title log-out">Log out</div>
                        <div class="ps_info">
                            <a href="">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</ion-content>

<ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>
