<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content>

    <div class="wrap-page ">
        <div class="top-window">

            <div class="right-icon"><a (click)="showOptions()"><img src="assets/images/setting-n.svg" alt=""></a></div>
            <div class="h4">Search</div>
        </div>
        <div class="search-page">
            <form>
                <div class="search">

                    <ion-searchbar
                            [(ngModel)]="Searched.SearchString"
                            [showCancelButton]="shouldShowCancel"
                            (ionInput)="onInput($event)"
                            (ionCancel)="onCancel($event)"
                            name="search"
                    >
                    </ion-searchbar>

                    <!--   <input type="text" placeholder="Search Hashtags, workouts, people" > -->
                </div>
            </form>

            <div class="tag--search">
                <ul>
                    <li><a  (click)="doSearch('top')"  [ngClass]="{'active': Searched.Type=='top'}"    >Top</a></li>
                    <li><a  (click)="doSearch('people')"  [ngClass]="{'active': Searched.Type=='people'}"  >People</a></li>
                    <li><a  (click)="doSearch('tags')"  [ngClass]="{'active': Searched.Type=='tags'}"  >Tags</a></li>
                    <li><a  (click)="doSearch('workouts')"  [ngClass]="{'active': Searched.Type=='workouts'}"  >Workouts</a></li>
                </ul>
            </div>

            <div class="items-search">
<!--
                <ion-segment [(ngModel)]="Searched.Type">
                    <ion-segment-button value="top" (click)="doSearch()">
                        Top
                    </ion-segment-button>

                    <ion-segment-button value="people" (click)="doSearch()">
                        People
                    </ion-segment-button>

                    <ion-segment-button value="tags" (click)="doSearch()">
                        Tags
                    </ion-segment-button>

                    <ion-segment-button value="workouts" (click)="doSearch()">
                        Workouts
                    </ion-segment-button>


                </ion-segment>

                -->

                <!--------------------->
                <div *ngIf="Searched.Type=='top' " style="color:white">


              <!--      <h1  style="text-align: center">Top workouts</h1>

                    <ul>-->

                <!--        <li   *ngFor="let item of TopResultsWorkouts" > {{item.name}} have {{item.countLikes}} likes  </li> -->

                        <div class="item" *ngFor="let item of TopResultsWorkouts" >
                            <div class="left">
                                <div class="image" [ngStyle]="{'background-image' : 'url(assets/images/fitnes_blank.png)'}" *ngIf="item.image =='' "  (tap)="showDetails(item)"></div>
                                <div class="image" [ngStyle]="{'background-image' : 'url(' +config.baseUrl  + item.image + '_s.jpg)'}"   *ngIf="item.image.length > 10 "  (tap)="showDetails(item)"></div>
                                <ul>
                                    <li>
                                        <a >
 								<span class="icon" (click)="toggleLike(item)"  >
                                       <img src="assets/images/bar/like-red.svg" alt="" *ngIf="item.InLiked >0 "  >
                                        <img src="assets/images/bar/like.svg" alt="" *ngIf="item.InLiked ==null "  >


 								</span>

                                            <span class="number">{{item.countLikes}}</span>


                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="right" (tap)="showDetails(item)">
                                <a class="h4">{{item.name}}</a>
                                <ul>
                                    <li>By: <span>{{item.author}}</span></li>
                                    <li>Skill: <span>{{item.skill}}</span></li>
                                    <li>Workout Card: <span> <span
                                            *ngFor="let muscle  of item.muscles"> {{muscle.name}}  </span></span></li>
                                    <li>Cardio: <span>{{item.cardio  ==1 ? 'yes' : 'no' }}</span></li>
                                </ul>
                            </div>
                        </div>


                    <!--      </ul>


                      <h1 style="text-align: center">Top tags</h1>

                    <ul> -->

                  <!--      <li class="exercises"  *ngFor="let item of TopResultsTag" > {{item.name}} </li> -->

                        <div class="searcg--tags" *ngFor="let item of TopResultsTag" (click)="itemSelected(item)">
                            <div class="item">
                                <div class="tag"><a (click)="showTag(item.name)">#{{item.name}}</a></div>
                                <div class="used">Used: {{item.TotalUsed}}</div>
                            </div>

                        </div>


                    <!--          </ul>

                          <h1  style="text-align: center">Top users</h1>
                    <ul>
                        -->
                   <!--     <li   *ngFor="let item of TopResultsUsers" > {{item.name}} have {{item.posts}} posts  </li> -->
                        <div class="searcg--peaple">
                            <div class="item"  *ngFor="let user of TopResultsUsers" (click)="userSelected(user)">
                                <div class="icon">
                                    <div class="img"     [ngStyle]="{'background-image': 'url('+ config.baseUrl + user.avatar + '_s.jpg)'}"         *ngIf="user.avatar!=''"                             ></div>
                                    <div class="img"    style="background-image:url('assets/images/avatar.jpg')" *ngIf="user.avatar==''"                         ></div>
                                </div>
                                <div class="info">
                                    <div class="name">{{user.name}}</div>
                                    <div class="posts">Created Workouts: {{user.posts}}</div>
                                </div>
                                <div class="follow">
                                    <span>Followers: {{user.followers}}</span>
                                </div>
                            </div>

                        </div>


           <!--         </ul> -->






                </div>
                <!--------------------->
                <div *ngIf="Searched.Type=='people' ">

                    <div class="searcg--peaple">
                        <div class="item"  *ngFor="let user of UserResults" (click)="userSelected(user)">
                            <div class="icon">
                                <div class="img"     [ngStyle]="{'background-image': 'url('+ config.baseUrl + user.avatar + '_s.jpg)'}"         *ngIf="user.avatar!=''"                             ></div>
                                <div class="img"    style="background-image:url('assets/images/avatar.jpg')" *ngIf="user.avatar==''"                         ></div>
                           </div>
                            <div class="info">
                                <div class="name">{{user.name}}</div>
                                <div class="posts">Created Workouts: {{user.posts}}</div>
                            </div>
                            <div class="follow">
                                <span>Followers: {{user.followers}}</span>
                            </div>
                        </div>

                    </div>

                </div>
                <!--------------------->
                <div *ngIf="Searched.Type=='tags' ">
                    <div class="searcg--tags" *ngFor="let item of TagsResults" (click)="itemSelected(item)">
                        <div class="item">
                            <div class="tag"><a (click)="showTag(item.name)">#{{item.name}}</a></div>
                            <div class="used">Used: {{item.TotalUsed}}</div>
                        </div>

                    </div>

                </div>
                <!--------------------->
                <div *ngIf="Searched.Type=='workouts' ">

                    <div class="item" *ngFor="let item of WorkoutResults" >
                        <div class="left">
                            <div class="image" [ngStyle]="{'background-image' : 'url(assets/images/fitnes_blank.png)'}" *ngIf="item.image =='' "  (tap)="showDetails(item)"></div>
                            <div class="image" [ngStyle]="{'background-image' : 'url(' +config.baseUrl  + item.image + '_s.jpg)'}"   *ngIf="item.image.length > 10 "  (tap)="showDetails(item)"></div>
                                  <ul>
                                <li>
                                    <a >
 								<span class="icon" (click)="toggleLike(item)"  >
                                       <img src="assets/images/bar/like-red.svg" alt="" *ngIf="item.InLiked >0 "  >
                                        <img src="assets/images/bar/like.svg" alt="" *ngIf="item.InLiked ==null "  >


 								</span>

                                        <span class="number">{{item.countLikes}}</span>


                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="right" (tap)="showDetails(item)">
                            <a class="h4">{{item.name}}</a>
                            <ul>
                                <li>By: <span>{{item.author}}</span></li>
                                <li>Skill: <span>{{item.skill}}</span></li>
                                <li>Workout Card: <span> <span
                                        *ngFor="let muscle  of item.muscles"> {{muscle.name}}  </span></span></li>
                                <li>Cardio: <span>{{item.cardio  ==1 ? 'yes' : 'no' }}</span></li>
                            </ul>
                        </div>
                    </div>


                </div>


            </div>

        </div>

    </div>


    <!--

    <ion-searchbar
            [(ngModel)]="Searched.SearchString"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)">
    </ion-searchbar>


    <ion-icon name="funnel" (click)="showOptions()" class="filter"></ion-icon>


    <div padding>

        <ion-segment [(ngModel)]="Searched.Type">
            <ion-segment-button value="top" (click)="doSearch()">
                Top
            </ion-segment-button>

            <ion-segment-button value="people" (click)="doSearch()">
                People
            </ion-segment-button>

            <ion-segment-button value="tags" (click)="doSearch()">
                Tags
            </ion-segment-button>

            <ion-segment-button value="workouts" (click)="doSearch()">
                Workouts
            </ion-segment-button>


        </ion-segment>
    </div>

    <div *ngIf="Searched.Type=='top' ">
        <p> Top results </p>


    </div>

    <div *ngIf="Searched.Type=='people' ">
        <p> People results </p>

        <ion-list>
            <ion-item *ngFor="let user of UserResults" (click)="userSelected(user)">
                <ion-avatar item-start>
                    <img src="{{user.avatar}}" *ngIf="user.avatar!=''">
                    <img src="assets/images/avatar.jpg" *ngIf="user.avatar==''">
                </ion-avatar>
                <h2>{{user.name}}</h2>
                <h3>Posts: {{user.posts}}</h3>
                <p>Followers:{{user.followers}}</p>
            </ion-item>
        </ion-list>


    </div>

    <div *ngIf="Searched.Type=='tags' ">
        <p> tags results </p>

        <ion-list>
            <ion-item *ngFor="let item of TagsResults" (click)="itemSelected(item)">

                <h2><a href="#"> #{{item.name}}</a></h2>
                <h3>Used: {{item.TotalUsed}}</h3>
            </ion-item>
        </ion-list>


    </div>

    <div *ngIf="Searched.Type=='workouts' ">
        <p> workouts results </p>


        <div ion-item *ngFor="let item of WorkoutResults" (click)="showDetails(item)">
            <div class="workout">
                <div class="description">

                    <ion-icon name="heart-outline" *ngIf="!item.liked" (click)="toggleLike(item)"
                              class="likes"></ion-icon>
                    <ion-icon name="heart" *ngIf="item.liked" (click)="toggleLike(item)" class="likes"></ion-icon>


                    <p>Created By: <b>{{item.user}}</b></p>
                    <p>{{item.name}}</p>
                    <p>Skill: {{item.skill}}</p>
                    <p>Muscles worked: <span *ngFor="let muscle  of item.muscles"> {{muscle.name}}  </span></p>
                    <p>Cardio: {{item.cardio}}</p>
                </div>
                <div class="image">
                    <img src="{{item.image}}">
                </div>
            </div>
            <div class="clear"></div>
        </div>


    </div>

-->
    <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

</ion-content>
