<div class="wrap-page ">
  <div class="top-window">
    <a class="prev" (click)="goBack()">
      <img src="assets/images/back_arrow.png" alt="">
    </a>

    <div class="h4">ExerciseDefault</div>
  </div>


  <div class="exercise-History">
    <div class="item" *ngFor="let exercise of Exercises">
      <div class="image"                [ngStyle]="{'background-image': 'url('  + config.baseUrl + exercise.stage1_img + ')'}"         (click)="selectItem(exercise)"    ></div>


      <div class="info" (click)="selectItem(exercise)">
        <div class="left">
          <div class="h5">{{exercise.name}}</div>
          <ul class="list">
            <li>
              Skill: <span>{{exercise.skill}}</span>
            </li>
            <li>
              Muscules Worked: <span><span *ngFor="let muscle  of exercise.muscles"> {{muscle.name}}  </span></span>
            </li>
            <li>
              Cardio: <span> {{exercise.cardio}}</span>
            </li>
          </ul>
        </div>
        <!--     <div class="right">
                 <ul>
                     <li>
                         <a >
                                  <span class="icon">
                                     <img src="assets/images/bar/like-red.svg" alt="">
                                  </span>
                             <span class="number">125</span>
                         </a>
                     </li>

                 </ul>
             </div> -->
      </div>
    </div>

  </div>

</div>

<ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>



<!--
<ion-header>

  <ion-navbar>
    <ion-title>ExerciseDefault</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
      <ion-item (click)="selectItem(exercise)" *ngFor="let exercise of Exercises">
        <div class="description">
          <p>{{exercise.name}}</p>
          <p>{{exercise.repeat_count}} {{exercise.repeat_type}} of {{exercise.length_count}}
            {{exercise.length_type}} </p>
          <p>Cardio: {{exercise.cardio}}</p>
          <p>Equipment: <span *ngFor="let eq of exercise.equipment"> {{eq.name}} ,  </span></p>
        </div>
        <div class="image">
          <img src="{{exercise.stage1_img}}">
        </div>
      </ion-item>

  </ion-list>


  <div class="clear"></div>

  <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>
</ion-content>
-->