<!--
  Generated template for the Create page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-icon name="add" (click)="CreateExercise()" class="createPlus" ></ion-icon>
<!-- <p> Swiped: {{swiped}}</p> -->

<!--https://stackoverflow.com/questions/36970425/determine-whether-a-swipe-event-is-for-a-left-swipe-or-a-right-swipe  -->








  <ion-list>

    <ion-item-sliding class="exercises" *ngFor="let exercise of MyExercises" >
    <ion-item   >
    <div class="description">
      <p>{{exercise.name}}</p>
      <p>{{exercise.repeat_count}} {{exercise.repeat_type}}      of  {{exercise.length_count}}   {{exercise.length_type}}  </p>
      <p>Cardio: {{exercise.cardio}}</p>
      <p>Equipment:      <span *ngFor="let eq of exercise.equipment"> {{eq.name}} ,  </span></p>
    </div>
    <div class="image">
      <img src="{{exercise.stage1_img}}">
    </div>
    </ion-item>


      <ion-item-options side="right">
        <button ion-button (click)="delete(exercise)">Delete</button>
      </ion-item-options>


    </ion-item-sliding>

  </ion-list>


  <div class="clear"></div>

  <ion-spinner class="loaderSpiner" [hidden]="!IsAjaxLoaded"></ion-spinner>

  <button ion-button round class="fullWidth" (click)="ShareWorkout()" [disabled]="MyExercises.length==0">Share full workout</button>

</ion-content>
